@*@model AnnonsonMVC.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TArticle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageFileFormat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageFileFormat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageWidths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageWidths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishBegin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishBegin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
