@model AnnonsonMVC.ViewModels.ArticleDetailViewModel

@{
    ViewData["Title"] = "Detaljer";
}

<h2>Details</h2>

<div>
    <h4>Artikel</h4>
    <hr />

    <dl>
        <dd>
            <img src="@Url.Content(ViewBag.mediaUrl + Model.ImagePath.Replace(@"\", "/") + @"/" + Model.ImageFileName.Replace(@"\", "/") + "-256." + Model.ImageFileFormat)" class="imagepreview" />
        </dd>
    </dl>
    <dl class="media-right">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceText)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishBegin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishBegin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreArticle)
        </dt>
        <dd>
            @foreach (var stores in ViewBag.storeNames)
            {
                    <div>@stores</div>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleCategory)
        </dt>
        <dd>
            @foreach (var categories in ViewBag.categoryNames)
            {
                    <div>@categories</div>               
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
</div>

